* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 112.5%;
  font-family: sans-serif;
  display: grid;
  grid-template-rows: auto auto auto;
}

main {
  overflow: auto;
  height: 100vh;
}
