* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 112.5%;
  font-family: sans-serif;
  display: grid;
  grid-template-rows: 48px auto 48px;
}
main {
  overflow: auto;
  height: 100vh;
}
.m-20 {
  margin: 20px;
}
.p-20 {
  padding: 20px;
}
.card {
  border: solid black 2px;
}
header {
  border: solid black 2px;
}
footer {
  border: solid black 2px;
}
