.card {
  border: solid black 2px;
  position: relative;
}

.card__bookmark {
  position: absolute;
  top: -20px;
  right: 0;
  background-color: white;

  width: 48px;
  height: 48px;
}

.card__taglist {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}

.card__tag {
  border: solid 1px black;
}

.card__button {
  position: center;
}

.card__bookmark--active {
  background-color: hotpink;
}
