.body {
  display: grid;
  grid-template-rows: 81px auto 44px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scrolling {
  overflow-y: scroll;
}

.nav {
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 44px;
}
